<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.keyrillanskiy.cloather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="application.CloatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name="presentation.screens.intro.IntroActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="presentation.screens.auth.AuthActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="presentation.screens.gender.GenderActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="presentation.screens.main.MainActivity"
            android:theme="@style/AppTheme.Splash"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>
</manifest>
